* {
    background-color: #14181C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}



table,
.table,
th,
tr {
    background-color: azure;
    margin-left: auto;
    margin-right: auto;




    border-style: solid;
    border-color: #1aff66;

    width: 550px;

}

.btn-view {
    background-color: rgb(70, 153, 248);

    transition-duration: 0.2s;

    border-radius: 10px;
    border-color: rgb(70, 153, 248);
}

.btn-view:hover {
    background-color: blue;
}

.btn-delete {
    background-color: rgb(245, 57, 57);

    transition-duration: 0.2s;

    border-radius: 10px;
    border-color: rgb(245, 57, 57);

    margin-left: 5px;
}

.btn-delete:hover {
    background-color: rgb(255, 0, 0);
}

header {
    margin-bottom: 100px;
}

div.buttons {
    display: inline;

    margin-top: 100px;
    margin-bottom: 100px;

    margin-left: auto;
    margin-right: auto;
}

a.previous-round {

    text-decoration: none;
    font-size: 20px;

    background-color: #1aff66;

    transition-duration: 0.2s;

    padding: 5px 30px 5px 30px;

    border-radius: 100px;


    margin-left: auto;


}

a.previous-round:hover {
    background-color: #188318;
    padding: 6px 30px 6px 30px;
}

a.next-round {
    text-decoration: none;

    background-color: rgba(87, 189, 236, 0.774);
    color: black;

    transition-duration: 0.2s;

    padding: 5px 0px 5px 0px;

    border-radius: 100px;



    margin-left: 1152px;


}

a.next-round:hover {
    background-color: rgb(52, 106, 167);

    padding: 7px 0px 7px 0px;
}

img {
    margin-top: 20px;
    width: 500px;
    height: 500px;

    opacity: 50%;
}